<nav class="  py-4">
  {% if user.is_authenticated %}
  <ul class="flex justify-center gap-x-16 mt-4">
    <li>
      <a href="/" class="text-black text-2xl font-semibold hover:text-gray-700 transition duration-300 ease-in-out border-b-2 border-transparent hover:border-indigo-300 hover:shadow-lg px-2">
        Home
      </a>
    </li>
    <li>
      <a href="/products/" class="text-black text-2xl font-semibold hover:text-gray-700 transition duration-300 ease-in-out border-b-2 border-transparent hover:border-indigo-300 hover:shadow-lg px-2">
        Product
      </a>
    </li>
  </ul>
  {% else %}
  <div></div>
  {% endif %}
</nav>