{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=viewport, initial-scale=1.0" />
    <title>GeoRestaurant</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% tailwind_css %}
  </head>
  <body>
    <header class="w-full flex justify-between items-center px-8 py-6 bg-slate-600 rounded-2xl shadow-md fixed z-20 top-0 left-50%">
      {% comment %} <a href="/">
        <img class="w-[70px] h-[70px] hover:scale-105 transition-transform duration-300" src="{% static 'images/restaurant.svg' %}" alt="Logo" />
      </a> {% endcomment %}
      {% include "component/nav.html" %}
      {% include "component/log.html" %}
    </header>
  
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>