{% extends "base.html" %}
{% block title %}
Login
{% endblock  %}
 {% block content %}
 <section class="flex justify-center mt-[200px]">
    <form class="border p-2 rounded shadow bg-dark flex flex-col gap-y-[20px]" method="POST">
        {% csrf_token %}
        {% for field in form %}
                {{ field }}
        {% endfor %} 
        <div class="flex flex-col gap-y-[20px]">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="w-full border rounded shadow hover:bg-red-200">Sign in</button>
            <p>Not a member? <a href="#!">Register</a></p>
          </div>
        </div>
      </form>
 </section>
{% endblock%}
